    #works{
        min-height:calc(100vh-4rem);
        width: 100vw;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .worksTitle{
        margin: 1rem 0;
        font-size: 3rem;
    }
    .worksDesc{
        font-weight: 300;
        font-size: 1rem;
        max-width: 31rem;
    }
    .worksImags{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        max-width: 56rem;
        flex-wrap: wrap;
    }
    .worksImg{
        object-fit: cover;
        height: 20rem;
        margin: 0.5rem;
    }
    .WorksBtn{
         margin: 3rem 0;
         border: none;
         padding: 0.5rem 2.5rem;
         border-radius: 2rem;
         background-color: whitesmoke;
         font-size: 1rem;
    }
@media screen and(max-width:586px) {
    .worksImg{
        height: 48vw;
    }
}